{
    "comment": "{{ comment }}",
    "fields": [
        {% for field in fields %}
        { "name": "{{ field.name }}", "type": "{{ field.data_type }}{% if field.nullable %}?{% endif %}" }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
