{% import "macros.tera" as macros %}{% for log in logs %}pub struct {{ log.name|upper_camel }} {
    {{ macros::parameters(default_log=default_log, fields=log.fields) }}
}

impl {{ log.name|upper_camel }} {
    #[allow(dead_code)]
    pub fn to_ltsv(&self) -> String {
        format!("{{ macros::ltsv_format(default_log=default_log, fields=log.fields) }}", {{ macros::arguments(default_log=default_log, fields=log.fields, format_name="ltsv") }})
    }
}

{% endfor %}
